:root {
  --border: 0.1rem solid lightgray;
  --border-radius: 0.3rem;
  --box-shadow: 0 3px 6px 0 rgb(0 0 0 / 0.15);
}

/* TODO remove bottom padding */
body {
  margin: 0;
  padding: 0 0 40rem 0;
}

button {
  border: none;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  min-width: 4rem;

  transition: background-color 100ms ease-in;
}

button:hover {
  background-color: darkgray;
  cursor: pointer;
}

button:active {
  background-color: gray;
}

/* To remove arrows from number inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
